<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car List</title>
    <style></style>
</head>
<body>
<h1></h1>
<table>
    <thead>
    <tr>
        <th>Model</th>
        <th>Color</th>
        <th>Year</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.model}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.year}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>